source https://www.nuget.org/api/v2

framework: net45, net47, netstandard2.0, netstandard2.1

storage: none

strategy: max

nuget FSharp.Core >= 4.7.0
nuget Alea >= 3.0.4
nuget FSharpAux >= 1.0.0
nuget FSharpAux.IO >= 1.0.0
nuget FSharp.Stats >= 0.2.1-beta
#nuget FSharp.Stats.MSF >= 0.2.1-beta
nuget FSharp.Plotly >= 1.2.0
nuget docker.dotnet 3.125.2
nuget SharpZipLib >= 1.2.0
nuget CNTK.CPUOnly >= 2.7.0
nuget Microsoft.Xaml >= 4.0.0.1
nuget Argu      
nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck

group BioDB
    source https://www.nuget.org/api/v2
    nuget SwaggerProvider >= 0.10
    nuget YamlDotNet >= 8.1.0
    nuget FSharp.Data.TypeProviders >= 5.0.0.6
    nuget Http.fs >= 5.4.0

group Formatting

    source https://www.nuget.org/api/v2
    source https://ci.appveyor.com/nuget/fsharp-formatting
    nuget FSharp.Compiler.Service 34.1.1
    nuget FSharp.Formatting prerelease
    nuget FSharp.Formatting.CommandTool prerelease
    nuget Newtonsoft.Json >= 12.0.3
    nuget FSharp.Plotly >= 1.2.2