type project
title
    BioFSharp.IO
owners
    Timo Mühlhaus
authors
    Timo Mühlhaus
projectUrl
    https://github.com/CSBiology/BioFSharp
iconUrl
    https://raw.githubusercontent.com/CSBiology/FSharp.FGL/master/docs/files/img/logo.png
licenseUrl
    https://github.com/CSBiology/FSharp.FGL/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
   F# FSharp bioinformatics
summary
   F# FSharp bioinformatics
description
   F# FSharp bioinformatics
