type project
id BioFSharp.IO
title
    BioFSharp.IO
owners
    Timo Mühlhaus, Kevin Schneider
authors 
    Timo Mühlhaus, Kevin Schneider, Heinrich Lukas Weil, David Zimmer, F# open source contributors
projectUrl
    https://csbiology.github.io/BioFSharp/
iconUrl
    https://raw.githubusercontent.com/CSBiology/BioFSharp/master/docsrc/files/img/logo.png
licenseUrl
    https://github.com/CSBiology/BioFSharp/blob/master/LICENSE
requireLicenseAcceptance
    false
language
    F#
copyright
    Copyright 2017-2020
tags
    F# FSharp bioinformatics biostatistics datascience biology dataprocessing amino-acids nucleotides sequence-analysis docker bioinformatics-containers biocontainers
summary
    Read/write functions for various biological file formats
description
    BioFSharp.IO contains read/write functions for a diverse set of biological 
    file formats such as Fasta, FastQ, GeneBank or GFF, as well as 
    helper function for searching on or transforming the input data
include-referenced-projects 
    true
repositoryType
    git
repositoryUrl
    https://github.com/CSBiology/BioFSharp
include-pdbs true
