type project
id BioFSharp.ML
title
    BioFSharp.ML
owners
    Timo Mühlhaus, David Zimmer, Kevin Schneider
authors 
    Timo Mühlhaus, David Zimmer, Kevin Schneider
projectUrl
    https://csbiology.github.io/BioFSharp/
iconUrl
    https://raw.githubusercontent.com/CSBiology/BioFSharp/master/docsrc/files/img/logo.png
licenseUrl
    https://github.com/CSBiology/BioFSharp/blob/master/LICENSE
requireLicenseAcceptance
    false
language
    F#
copyright
    Copyright 2017-2020
tags
    F# FSharp bioinformatics biostatistics datascience biology dataprocessing amino-acids nucleotides sequence-analysis docker bioinformatics-containers biocontainers
summary
    Machine learning with BioFSharp and CNTK.Net
description
    Make your workflow ML ready with BioFSharp.ML. 
    Currently contains helper functionf for CNTK 
    and a pre-trained model we used in our publication 
    about predicting peptide observability.
include-referenced-projects 
    true
repositoryType
    git
repositoryUrl
    https://github.com/CSBiology/BioFSharp
include-pdbs true
