type project
id BioFSharp
title
    BioFSharp
owners
    Timo Mühlhaus, Kevin Schneider
authors 
    Timo Mühlhaus, Kevin Schneider, Heinrich Lukas Weil, David Zimmer, F# open source contributors
projectUrl
    https://csbiology.github.io/BioFSharp/
iconUrl
    https://raw.githubusercontent.com/CSBiology/BioFSharp/master/docsrc/files/img/logo.png
licenseUrl
    https://github.com/CSBiology/BioFSharp/blob/master/LICENSE
requireLicenseAcceptance
    false
language
    F#
copyright
    Copyright 2017-2020
tags
    F# FSharp bioinformatics biostatistics datascience biology dataprocessing amino-acids nucleotides sequence-analysis docker bioinformatics-containers biocontainers
summary
    The F# open source bioinformatics toolbox
description
    BioFSharp aims to be a user-friendly library for Bioinformatics written in F#.
    This is the core package that contains optimized biological datastructures 
    (For example aminoacdis, nucleotides, and sequences consisting of them) and core
    bioinformatic algorithms (such as alignments or pattern search). BioFSharp has many 
    more to offer in its subnamespaces, so be sure to check them out!
include-referenced-projects 
    true
repositoryType
    git
repositoryUrl
    https://github.com/CSBiology/BioFSharp
include-pdbs true
