type project
id BioFSharp.BioDB
title
    BioFSharp.BioDB
owners
    Timo Mühlhaus, Kevin Schneider
authors 
    Timo Mühlhaus, Sabrina Gödel, Kevin Schneider, F# open source contributors
projectUrl
    https://csbiology.github.io/BioFSharp
iconUrl
    https://raw.githubusercontent.com/CSBiology/BioFSharp/master/docsrc/files/img/logo.png
licenseUrl
    https://github.com/CSBiology/BioFSharp/blob/master/LICENSE
requireLicenseAcceptance
    false
language
    F#
copyright
    Copyright 2017-2020
tags
    F# FSharp bioinformatics biostatistics datascience biology dataprocessing amino-acids nucleotides sequence-analysis docker bioinformatics-containers biocontainers
summary
    API access to powerful popular bioinformatic databases
description
    API access to powerful popular bioinformatic databases
include-referenced-projects 
    true
repositoryType
    git
repositoryUrl
    https://github.com/CSBiology/BioFSharp
include-pdbs true